<section id="hero" class="hero hero__component @@addclass">
    <div class="main_container">
        <div class="bg__slider hero__slider splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/hero_bg_slider-1.jpg') center no-repeat; background-size: cover;" class="splide__slide"></li>
                    <li style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/cases/boost2be/boost2be_mockup-cap.jpg') center no-repeat; background-size: cover;" class="splide__slide"></li>
                    <li style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/cases/elhunt/elhunt_mockup-shirt.jpg') center no-repeat; background-size: cover;" class="splide__slide"></li>
                    <li style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/cases/livety/livety_mockup-watch.jpg') center no-repeat; background-size: cover;" class="splide__slide"></li>
                    <li style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/cases/boost2be/boost2be_mockup-cards1.jpg') center no-repeat; background-size: cover;" class="splide__slide"></li>
                </ul>
            </div>
        </div>
        <div class="hero__wrap">
            <h1 class="hero__title">@@title</h1>
            <p class="hero__subtitle"><a href="/" class="hyper link">Головна</a>&nbsp;&nbsp;-&nbsp;&nbsp;@@title</p>
        </div>
    </div>
</section>