<div id="popupBox" class="popup_wrapper type__form @@popUp__addclass">
    <div class="overlay"></div>
    <div class="popup form">
        <a class="close" href="javascript: void(0);"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="0.72184" y1="0.514611" x2="16.9853" y2="16.7781" stroke="white"/><line x1="16.9853" y1="1.22172" x2="0.72181" y2="17.4852" stroke="white"/></svg></a>
        <h2 class="popUp__title title-2">@@popUp__title</h2>
        @@include('_form.html', {
            "style": "@@form_style",
            "label_name": "@@form_label_name",
            "label_email": "@@form_label_email",
            "label_tel": "@@form_label_tel",

            "btn_title": "@@btn_title",
            "btn_addclass": "@@btn_addclass",
            "btn_style": "@@btn_style",
            "btn_padding": "@@btn_padding",
        })   
    </div>
</div>